In [86]:
import streamlit as st
import pandas as pd
import numpy as np

In [87]:
df = pd.read_csv("titanic.csv")

In [88]:
del df['Cabin']

In [89]:
df = df.dropna()

In [90]:
df['Age'] = df['Age'].astype(int)

In [91]:
st.title("Results")

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [92]:
user_input = df.iloc[10]

In [93]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,448.589888,0.404494,2.240169,29.622191,0.514045,0.432584,34.567251
std,258.683191,0.491139,0.836854,14.502891,0.930692,0.854181,52.938648
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,222.750000,0.000000,1.000000,20.000000,0.000000,0.000000,8.050000
50%,445.000000,0.000000,2.000000,28.000000,0.000000,0.000000,15.645850
75%,677.250000,1.000000,3.000000,38.000000,1.000000,1.000000,33.000000
max,891.000000,1.000000,3.000000,80.000000,5.000000,6.000000,512.329200

In [94]:
user_input

PassengerId                          12
Survived                              1
Pclass                                1
Name           Bonnell, Miss. Elizabeth
Sex                              female
Age                                  58
SibSp                                 0
Parch                                 0
Ticket                           113783
Fare                              26.55
Embarked                              S
Name: 11, dtype: object

In [95]:
import streamlit as st
import plotly.figure_factory as ff

tab1, tab2, tab3 = st.tabs(["Demographics", "Dog", "Owl"])

with tab1:
   st.header("Demographics")
   with st.container():
      col1, col2, col3 = st.columns([2,3,1])
      with col1:
         st.subheader(f"Passenger name: {user_input[3]}")
         st.subheader(f"Passenger age: {user_input[5]}")
         st.subheader(f"Passenger sex: {user_input[4]}")
      with col2:
         st.subheader("Data")
         
         x1 = df.loc[df['Sex'] == 'male'].loc[:, 'Fare']
         x2 = df.loc[df['Sex'] == 'female'].loc[:, 'Fare']

         hist_data = [x1, x2]
         group_labels = ['Male fare', 'Female fare']
         fig = ff.create_distplot(
            hist_data, group_labels, bin_size=[.1, .25,])
         st.plotly_chart(fig, use_container_width=True)
      with col3:
         st.text("Text")


with tab2:
   st.header("Competency 2")


with tab3:
   st.header("An owl")